@import 'tailwindcss';

@config '../../tailwind.config.js';

/* @source inline("flex-{nowrap,none}") */
/* @source inline("flex-{1,auto,initial,wrap,wrap-reverse}"); */
/* @source inline("gap-{1..12}"); */
@source inline("w-{{2..6}}/{{1..6}}");
@source inline("w-{1}/{{3..6}}");
/* @source inline("h-{{1..6}}/{{1..6}}"); */
/* @source inline("grid-cols-{1..12}"); */
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@utility base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

#nprogress {
  display: none !important;
}

body {
  @apply overflow-x-hidden w-full relative;
  -webkit-tap-highlight-color: transparent;
}

.layout {
  @apply mx-auto xl:w-full max-w-[1420px] xl:px-3.5 lg:px-12 px-8;
}

.layoutacc {
  @apply mx-auto w-full max-w-[1024px] px-3.5 sm:px-5;
}

/* Firefox */
* {
  scrollbar-color: var(--color-two) var(--bg-color); /* thumb track */
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-two);
  border: 3px solid var(--color-two);
  border-radius: 14px;
}

.customloader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #4f4f4f;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #6a111b;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #6a111b, 0 0 5px #6a111b;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: flex;
  position: fixed;
  z-index: 1031;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  background: white;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

#nprogress .spinner-icon {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border: solid 2.5px transparent;
  background: transparent;
  border-top-color: #6a111b;
  border-left-color: #6a111b;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-responsive-width {
  width: 100%;
}

@media (min-width: 768px) {
  .custom-responsive-width {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .custom-responsive-width {
    width: 33.333333%;
  }
}
